body{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
#MySquare{
    width: 200px;
    height: 200px;
    background-color: red;
    transform-style: preserve-3d;
}